<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello! Welcome to Aditya's Blog</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <!-- Header section of website -->
   
    <header id="header" class="shadow bg-light">
        <nav class="container navbar">
            <a href="/" class="nav-brand text-dark">
                 Name Please
             </a>

             <!-- toggle button -->
             <button class="toggle-button">
                 <span><i class="fas fa-bars"></i></span>
             </button>

             <!-- Toggle button collapses on click -->
             <div class="collapse">
                 <ul class="navbar-nav">
                     <a href="#" class="nav-link">Home</a>
                     <a href="#" class="nav-link">Blog</a>
                     <a href="#" class="nav-link">Pages</a>
                     <a href="#" class="nav-link">Categories</a>
                     <a href="#" class="nav-link">About</a>
                     <a href="#" class="nav-link">Contact</a>
                 </ul>
             </div>

               <!-- Toggle button collapses on click -->
               <div class="collapse">
                   <ul class="navbar-nav">
                         <div class="search-box">
                             <a href="#" class="nav-link"><i class="fas fa-search"></i></a>
                         </div>
                         <a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a>
                         <a href="#" class="nav-link"><i class="fab fa-twitter"></i></a>
                         <a href="#" class="nav-link"><i class="fab fa-instagram"></i></a>
                         <a href="#" class="nav-link"><i class="fab fa-dribbble"></i></a>
                   </ul>
               </div>
        </nav>
    </header>


    <!-- Main section of website -->
    <main id="site-main">
        <!-- Posts aka blogs section-->
        <section id = "posts">
            <div class="container">
                <div class="grid">
                    <!-- #Post 1-->
                    <div class="grid-item">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="">
                                        <img src="/static/images/Books.jpg" class = "img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center px-1">
                                    <a href="#" class = "text-title display-1 text-dark">
                                        Books
                                    </a>
                                    <p class = "secondary-title text-secondary display-3">
                                        <span><i class = "far fa-clock text-primary"></i>Nov 20, 2021</span>
                                        
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- #Post 2-->
                    <div class="grid-item">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="">
                                        <img src="/static/images/kd.jpg" class = "img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center px-1">
                                    <a href="#" class = "text-title display-1 text-dark">
                                        A Must try !
                                    </a>
                                    <p class = "secondary-title text-secondary display-3">
                                        <span><i class = "far fa-clock text-primary"></i>Nov 20, 2021</span>
                                        
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- #Post 3-->
                    <div class="grid-item">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="article2">
                                        <img src="/static/images/thanksgiving.jpeg" class = "img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center px-1">
                                    <a href="#" class = "text-title display-1 text-dark">
                                        Hot Deals at one stop
                                    </a>
                                    <p class = "secondary-title text-secondary display-3">
                                        <span><i class = "far fa-clock text-primary"></i>Nov 20, 2021</span>
                                       
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- #Post 4-->
                    <div class="grid-item">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="article">
                                        <img src="/static/images/travel.jpeg" class = "img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center px-1">
                                    <a href="#" class = "text-title display-1 text-dark">
                                        Travel
                                    </a>
                                    <p class = "secondary-title text-secondary display-3">
                                        <span><i class = "far fa-clock text-primary"></i>Nov 20, 2021</span>
                                        
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <!-- #Post 5-->
                    <div class="grid-item">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="">
                                        <img src="/static/images/soccer.jpeg" class = "img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center px-1">
                                    <a href="#" class = "text-title display-1 text-dark">
                                        The Legend of FC Barcelona
                                    </a>
                                    <p class = "secondary-title text-secondary display-3">
                                        <span><i class = "far fa-clock text-primary"></i>Nov 20, 2021</span>
                                        
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    <!-- #Post 6-->
                    <div class="grid-item">
                        <article class="article">
                            <div class="card">
                                <div class="overflow-img">
                                    <a href="">
                                        <img src="/static/images/cricket.png" class = "img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="card-body text-center px-1">
                                    <a href="#" class = "text-title display-1 text-dark">
                                        Cricket
                                    </a>
                                    <p class = "secondary-title text-secondary display-3">
                                        <span><i class = "far fa-clock text-primary"></i> Nov 20, 2021</span>
                                        
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>

                    

                    

                </div>
                <div class="text-center">
                    <button class = "btn btn-primary secondary-title text-light">Enjoying? View More</button>
                </div>
            </div>
        </section>


        
       
    </main>


    <!-- footer -->
   <footer id="footer">
       <div class="container">
           <div class="row mb-3">
               <div class="col-3">
                   <h2 class = "footer-title secondary-title"><u>About me</u></h2>

                   <div class="secondary-title text-secondary">
                        <p class = "mt 2">
                            I'm Aditya Parvate Patil, a highly motivated undergradute student 
                            studying Computer Science at UMD.
                        </p>
                        <address>
                            <i class = "fas fa-map-marker-alt text-primary"> 
                            </i>
                            College Park, Maryland, 20740
                        </address>

                        <div class="phone">
                            <i class = "fas fa-mobile-alt text-primary"> 
                            </i>
                            206-802-5090
                        </div>

                        <div class="email">
                            <i class = "fas fa-envelope text-primary"> 
                            </i>
                            aparvatepatil@gmail.com
                        </div>

                   </div>
               </div>
               <div class="col-3">
                <h2 class = "footer-title secondary-title"><u>Featured Posts</u></h2>

                <div class="feature-posts">
                    <div class="flex-item">
                        <article class="article">
                            <div class="d-flex">
                                <a href="#">
                                    <img src="/static/images/thanksgiving.jpeg" class = "object-fit px-1" alt="">
                                    <div class="px-1">
                                        <a href="#" class = "text-title display-2 text-dark">
                                            Hot Deals at one stop
                                        </a>

                                        <p class = "secondary-title text-secondary display-3">
                                            <span><i class = "far fa-clock text-primary "></i>Nov 20, 2021</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>

               </div>
               
               <div class="col-3">
                <h2 class = "footer-title secondary-title"><u>Tags</u></h2>

                <div class="tags">
                    <div class="d-flex flex-wrap">
                        <a href="article" class = "nav-link btn bg-light">Travel</a>
                        <a href="#" class = "nav-link btn bg-light">Food</a>
                        <a href="#" class = "nav-link btn bg-light">Sport</a>
                        <a href="article2" class = "nav-link btn bg-light">Shopping</a>
                    </div>
                </div>

                

                
               </div>
               
           </div>
           <div class="copyright">
               <p class = "text-center text-secondary display-2">
                © 2021 <a href="#" class = "text-primary">Aditya Parvate Patil</a>
               </p>
           </div>
       </div>
   </footer>

    <!-- Using Vanilla JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" integrity="sha512-JRlcvSZAXT8+5SQQAvklXGJuxXTouyq8oIMaYERZQasB8SBDHZaUbeASsJWpk0UUrf89DP3/aefPPrlMR1h1yQ==" crossorigin="anonymous"></script>


   <script src = "/static/main.js"></script>
</body>
</html>